spring:
  application:
    name: productivity-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/productivity_db
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

  jackson:
    time-zone: America/Lima
    date-format: yyyy-MM-dd'T'HH:mm:ss
    default-property-inclusion: non_null

server:
  port: 8081
  error:
    include-message: always
    include-stacktrace: on_param

jwt:
  secret: tecsup_productivity_secret_key_2025_debe_ser_al_menos_256_bits_seguro
  expiration: 86400000

tecsup:
  api:
    url: https://api.tecsup.edu.pe
    timeout: 30000

logging:
  level:
    root: INFO
    com.tecsup.productivity: DEBUG
    org.springframework.security: DEBUG